services:
  - type: web
    name: antibody-api
    env: node
    buildCommand: npm install
    startCommand: npm start
    plan: free
    envVars:
      - key: PLAYWRIGHT_BROWSERS_PATH
        value: 0
